@font-face {
	font-family: 'bariol_regular';
	src: url('../fonts/bariol_regular-webfont.eot'),
			 url('../fonts/bariol_regular-webfont.woff') format('woff'),
			 url('../fonts/bariol_regular-webfont.woff2') format('woff2'),
			 url('../fonts/bariol_regular-webfont.ttf') format('truetype');;
	font-weight: normal;
	font-style: normal;
}

*{
	
	font-family: 'bariol_regular';
} 

body{
	background:#fff;
}
.clearfix::before,
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
.wrap{
	width:80%;
	margin:0 auto;
}
.header-top{
	position: fixed;
	z-index: 1;
	width: 100%;
	clear: both;
	background: url(../images/h-bg.jpg) no-repeat;
	background-size: cover;
	background-position:center;
	background-size: 100% 100%;
}
.logo {
	float:left;
	width: 13.5%;
}
.cssmenu {
	margin-top:22px;
	/* margin-right: -20px; */
	/* margin-right:0%; */
	position: relative;
	width: 46.5%;
	float: right;
}

.topUl{
	margin-right:-10px;
}

#nav
		{
			position: absolute;
		}
		    #nav > a
			{
				display: none;
			}
			#nav li
			{
				position: relative;
			}
				#nav li a
				{
					color:#fff;
					display: block;
				}
				#nav li a:active
				{

				}
			/* first level */

			#nav > ul
			{

			}
				#nav > ul > li
				{
					margin:0 10px;
					height: 100%;
					float: left;
				}
					#nav > ul > li > a
					{
						height: 100%;
						font-size: 1em; /* 24 */
						text-align: center;
						padding:6px 10px;
					}
						#nav > ul > li:not( :last-child ) > a
						{

						}
						#nav > ul > li:hover > a,
						#nav > ul:not( :hover ) > li.active > a
						{
							color:#fff;
							background:#000;
							border-radius:3px;

						}
				/* second level */
				#nav li ul
				{
					background-color: #cc470d;
					display: none;
					position: absolute;
					top: 100%;
				}
					#nav li:hover ul
					{
						display: block;
						left: 0;
						right: 0;
					}
						#nav li:not( :first-child ):hover ul
						{
							left: -1px;
						}
						#nav li ul a
						{
							font-size: 1.25em; /* 20 */
							border-top: 1px solid #e15a1f;
							padding: 0.75em; /* 15 (20) */
						}
							#nav li ul li a:hover,
							#nav li ul:not( :hover ) li.active a
							{

							}


/* .mainSlider {
	position: relative;
	overflow: hidden;
} */

/* .mainSlider .firstOne{
	width:  1250px;
	height: 551px;

} */

.mainSliderPrev, .mainSliderNext {
	position: absolute;
	width:90px;
	height:110px;
	text-indent: -9999px;
	background: url(../images/img-sprite.png) no-repeat;
	top:32%;
	z-index: 2;
	cursor: pointer;
}
.mainSliderPrev {
	background-position:-2px 3px;
	left:30px;
}
.mainSliderNext {
	background-position:-80px 3px;
	right:50px;
}
.header-bottom{
	background-color: #EB504E;
	padding:5% 0 0 0;
}
/* .banner-wrap{
	background-color: #EB504E;
	width:80%;
	margin:0 auto;
	text-align:center;
} */
.banner-wrap img{
	text-align:center;
}
h1.m_1{
	color: #FFF;
	font-size: 4em;
	text-align: center;
	margin-bottom: 1%;
}
p.m_2{
	color:#fff;
	font-size:1.2em;
	text-align:center;
}
/*--content--*/
.content-top{
	background:#232324;
	padding:5% 0 0 0;
  overflow: auto;
}
.box1{
	width:65%;
	margin:0 auto;
}
.span_1_of_3 {
	width: 30.9%;
	text-align:center;
}
.col_1_of_3 {
	display: block;
	float: left;
	margin: 1% 0 1% 3.6%;
}
.col_1_of_3:first-child {
	margin-left: 0;
}
h2.m_3{
	color:#fff;
	font-size:2em;
	text-align:center;
	margin-bottom:1%;
}
p.m_4{
	color:#e74c3c;
	font-size:1em;
	text-align:center;
	margin-bottom: 2%;
}
.desc{
	margin-top:2%;
}
.desc h3{
	color:#fff;
	font-size:1.5em;
	margin-bottom:6%;
}
.desc p{
	color:#E74C3C;
	font-size:0.85em;
	line-height:1.5em;
}
.col_1_of_4:first-child {
	margin-left: 0;
}
.span_1_of_4 {
	width:19.8%;
}
.col_1_of_4 {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
	background: #FFF;
	border-radius: 5px;

	padding: 2%;
	text-align:center;
}
.content-middle{
	background:#6cc372;
	padding:5% 0;
}
p.m_5{
	text-align:center;
	font-size:1em;
	margin-bottom:2%;
}
.span_1_of_4 h3{
	color:#6cc372;
	font-size:1.5em;
	margin-bottom:5%;
}
.span_1_of_4 h4{
	color:#E74C3C;
	font-size:0.85em;
	margin-bottom:5%;
}
ul.twt{
	background: #6CC372;
	text-align: left;
	padding: 5px;
	border-radius: 3px;
	width:100%;
}
ul.twt li img{
	vertical-align:middle;
	margin-right:12%;
}
span.follow{
	color:#fff;
}


#secondSlider {
	padding-left:8%;
	list-style: none;
	/* width: 100%; */
}

#secondSlider li{
	margin-left: 2.5%;
	margin-right: 2.5%;
	padding-bottom: 4px;
	display: inline-block;
	text-align: center;
}



.middle-bottom{
	background:#f0f0f0;
	padding:5% 0 20% 0;
	border-bottom: 2px ridge #FFF;
}
h3.m_7{
	color:#555;
	font-size: 2em;
	text-align: center;
	margin-bottom: 1%;
}
p.m_8 {
	text-align: center;
	font-size: 1em;
	margin-bottom: 2%;
	color:#6cc372;
}
#plans,#plans ul,#plans ul li {
	list-style: none;
}
#plans {
	padding-top: 2.4%;
	list-style: none;
}
.plans{
	margin-top: -163px;
	margin-bottom:6%;
}
#pricePlans {
	text-align: center;
}
#pricePlans #plans .plan {
	background: #fff;
  /* overflow: hidden; */
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 0 0 20px 0;
	border:1px solid #DBDADA;
}
.planContainer .title h2 {
	font-size:2.2em;
	color:#E74C3C;
	padding:5% 0;
	border-bottom:2px ridge #fff;
}
.planContainer .title1 h3 {
	font-size:2.2em;
	color: #555;
	padding:7% 0;
	background:#fff;
	border-bottom: 2px ridge #FFF;
}
.planContainer .title h2.bestPlanTitle {
	background:#fff;
	font-size:2.2em;
	padding:7% 0;
	border-bottom: 2px ridge #FFF;
}
.planContainer .options li {
	color:#FE2232;
	line-height:4em;
	border-bottom: 2px ridge #FFF;
	font-size:1em;
	background:#f0f0f0;
}
.planContainer .options li span {
	color:#777;
}
.planContainer .button a.bestPlanButton {
	color: #fff;
	background:#FE2232;
}
.planContainer .button a.bestPlanButton {
	color: #FFF;
	background:#FE2232;
	border: 2px solid #FE2232;
}
.planContainer .button a.bestPlanButton:hover {
	background:#FE2232;
	border:2px solid #FE2232;
}
#pricePlans #plans .plan {
	width:28.9999%;
	margin: 0 3.33% 20px 0;
	}
li.plan-middle{
	width:30.9999%;
	margin: 0 3.33% 20px 0;
	}
#pricePlans #plans > li:last-child {
	margin-right: 0;
}
span.bg1{
	color:#E74C3C;
	font-size:17px;
}
li.button{
	background:#616161;
}
li.button1{
	background:#eb4f4e;
}
span.bg2{
	color:#000;
	font-size:17px;
	margin: 0 20px;
}
.plan1{
	background:#616161;
	padding: 5%;
	overflow:auto;
}
h4.m_8 {
	font-size:3em;
	color:#fff;
	float:left;
}
h4 small{
	font-size:17px;
}
.btn {
	border: none;
	float: right;
	color: #000;
	cursor: pointer;
	padding: 7px 20px;
	display: inline-block;
	font-size: 1.2em;
	outline: none;
		transition: all 0.3s;
	background: #FFF;
	margin-top: 10px;
}
.btn:hover{
	color:#eb4f4e;
}
.plan2{
	background:#eb4f4e;
	overflow: auto;
	padding: 5%;
}
.btn1{
	border: none;
	float: right;
	color:#eb4f4e;
	cursor: pointer;
	padding: 7px 20px;
	display: inline-block;
	font-size: 1.2em;
	outline: none;
		transition: all 0.3s;
	background: #FFF;
	margin-top: 10px;
}
.btn1:hover{
	color:#000;
}
h3.plan-text{
	color:#E74C3C;
	font-size:1em;
	margin-top: 2%;
}
.footer-top{
	background:#eb4f4e;
	padding:4% 0;
	text-align:center;
}
.footer-bottom{
	background:#232324;
	padding:2% 0;
}
.copy {
	float: left;
	margin-top: 10px;
}
.copy p{
	color:#fff;
	font-size:0.8125em;
}

.social {
	float: right;
}
.social li {
	background: none;
	display: inline-block;
}
.social ul li:first-child, ol li:first-child {
	margin-top: 0px;
	margin-left: 0;
}
li.facebook a span {
	height: 30px;
	width: 30px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -21px -141px #EB4F4E;
	border-radius:3px;
	}
li.facebook a span:hover {
	background: url(../images/img-sprite.png) no-repeat -21px -141px #333;
}
li.twitter a span {
	height: 30px;
	width: 30px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -46px -141px #EB4F4E;
	border-radius:3px;
}
li.twitter a span:hover {
	background: url(../images/img-sprite.png) no-repeat -46px -141px #333;
}
li.rss a span {
	height: 30px;
	width: 30px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -77px -139px #EB4F4E;
	border-radius:3px;
}
li.rss a span:hover{
	background: url(../images/img-sprite.png)no-repeat -77px -139px #333;
}
/* 
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../../images/top-move.png) no-repeat right top;
} */
@media only screen and ( max-width: 40em ) /* 640 */
{
 #nav
	{
		position: relative;
		top: auto;
		left: auto;
	}
		#nav > a
		{
			width: 3.125em; /* 50 */
			height: 3.125em; /* 50 */
			text-align: left;
			text-indent: -9999px;
			background:url(../images/nav_icon.png)2px #333;
			position: relative;
			font-size:12px;
		}
			#nav > a:before,
			#nav > a:after
			{
				position: absolute;
				/*--border: 2px solid #fff;
				top: 35%;
				left: 25%;
				right: 25%; --*/
				background:url(../images/nav_icon.png);

			}
			#nav > a:after
			{
				top: 60%;
			}

		#nav:not( :target ) > a:first-of-type,
		#nav:target > a:last-of-type
		{
			display: block;
		}
	/* first level */
	#nav > ul
	{
		height: auto;
		display: none;
		position: absolute;
		/*--left: 0;--*/
		right: 0;
	}
		#nav:target > ul
		{
			display: block;
		}
		#nav > ul > li
		{
			width: 100%;
			float: none;
		}
			#nav > ul > li > a
			{
				height: auto;
				text-align: left;
				padding:7px 30px;
			}
				#nav > ul > li:not( :last-child ) > a
				{
					border-right: none;
					border-bottom: 1px solid #585858;
					background: #4D4D4D;
					color: #FFF;
				}

		/* second level */

		#nav li ul
		{
			position: static;
			padding: 1.25em; /* 20 */
			padding-top: 0;
		}
}


@media (max-width:768px){
	.wrap{
		width:90%;
	}

	.cssmenu {
		width: 58.5%;
		margin-top: 13px;
	}
	#secondSlider {
		padding-left:17%;
		list-style: none;
		/* width: 100%; */
	}

	.plans {
		margin-top:-91px;
	}
/* 	
	.nbs-flexisel-nav-left{
		left:-30px;
	}
	.nbs-flexisel-nav-right{
		right:-30px;
	} */
	ul.twt {
		width:100%;
		padding:0;
	}
	
	#nav > ul > li {
		margin: 0 0px;
	}
	#nav > ul > li > a {
		font-size:0.8125em;
	}
	
	h1.m_1 {
		font-size:2em;
	}
	p.m_2 {
	    font-size:0.85em;
	}
	h2.m_3 {
		font-size: 1.5em;
	}
	p.m_4 {
		font-size: 0.85em;
	}
	.desc h3 {
		font-size: 1.2em;
	}
	.box1 {
		width:80%;
	}
	
	.planContainer .options li {
		line-height:2.5em;
	}
	.span_1_of_4 h3 {
		font-size: 1em;
	}
	.span_1_of_4 h4 {
		font-size: 10px;
	}
	.planContainer .title1 h3 {
		font-size: 1.2em;
	}
	span.bg1 {
		font-size: 13px;
	}
	.planContainer .title h2 {
		font-size: 1.2em;
	}
	span.bg2 {
		font-size: 12px;
	}

	.planContainer .title h2.bestPlanTitle {
		background:#fff;
		font-size:1.2em;
		padding:5% 0;
		border-bottom: 2px ridge #FFF;
	}



	.planContainer .options li {
		font-size:12px;
	}
	h4.m_8 {
		font-size:1.5em;
	}
	.btn1, .btn{
	    padding: 4px 15px;
		font-size: 1em;
		margin-top: 1px;
	}
	h3.m_7 {
		font-size:1.5em;
	}
	p.m_8 {
		font-size:0.85em;
	}
}

@media (max-width:480px){
	.wrap{
		width:90%;
	}
	.logo {
		width: 25.5%;
		float: left;
		margin-top: 4px;
	}
	.cssmenu {
		width: 7%;
		float: right;
		margin-top: 7px;
	}
	#nav:target > ul {
		margin-top: 10px;
		z-index: 999;
	}
	#nav > ul > li {
		margin:-10px 15px;
	}
	.nbs-flexisel-nav-left{
		left:0px;
	}
	.nbs-flexisel-nav-right{
		right:0px;
	}
	ul.twt {
		width:100%;
		padding:0;
	}
	span.follow{
		padding-left: 13%;
	}
	h1.m_1 {
		font-size:2em;
	}
	p.m_2 {
	    font-size:0.85em;
	}
	h2.m_3 {
		font-size: 1.5em;
	}
	p.m_4 {
		font-size: 0.85em;
	}
	.desc h3 {
		font-size: 1.2em;
	}
	.box1 {
		width:80%;
	}
	
	.planContainer .options li {
		line-height: 3em;
	}
	.span_1_of_4 h3 {
		font-size: 1.2em;
	}
	.span_1_of_4 h4 {
		font-size: 12px;
	}
	.planContainer .title1 h3 {
		font-size: 1.2em;
	}
	span.bg1 {
		font-size: 13px;
	}
	.planContainer .title h2 {
		font-size: 1.2em;
	}
	span.bg2 {
		font-size: 12px;
	}
	.nbs-flexisel-item > img {
		max-width:150px;
		max-height:150px;
	}
	.nbs-flexisel-item p a{
	  font-size:12px;
	}

	#secondSlider {
		align-content:center;
		list-style: none;
		/* width: 100%; */
	}

	.plans {
		margin-top:-104px;
	}
	.planContainer .options li {
		font-size:0.8125em;
	}
	h4.m_8 {
		font-size:1.5em;
	}
	.btn1, .btn{
	    padding: 4px 15px;
		font-size: 1em;
		margin-top: 1px;
	}
	h3.m_7 {
		font-size:1.5em;
	}
	p.m_8 {
		font-size:0.85em;
	}
	.span_1_of_3 {
		width: 100%;
	}
	.col_1_of_3 {
		float: none;
		margin: 0;
	}
	.span_1_of_4 {
		width: 94%;
	}
	.middle-bottom {
		padding: 5% 0 30% 0;
	}
	#pricePlans #plans .plan {
		width:90.9999%;
		margin: 0 0 20px 0;
	}
	.content-top {
		padding:60px 0;
	}
	.content-middle {
		padding:60px 0;
	}
	.middle-bottom {
		padding:60px 0 100px 0;
	}
	.col_1_of_4 {
		margin: 1% 0 1% 0%;
	}
	.header-bottom {
		padding: 75px 0 0 0;
	}
	#nav > ul > li {
		width: 96%;
	}
	.mainSliderPrev, .mainSliderNext {
		width:40px;
		height:100px;
		background: url(../images/arrows.png) no-repeat;
		top:28%;
	}
	.mainSliderPrev {
		background-position: -2px 3px;
		left:5px;
	}
	.mainSliderNext {
		background-position: -42px 3px;
		right: 0px;
	}
}
