@font-face {
	font-family: 'bariol_regular';
	src: url('../fonts/bariol_regular-webfont.eot'),
			 url('../fonts/bariol_regular-webfont.woff') format('woff'),
			 url('../fonts/bariol_regular-webfont.woff2') format('woff2'),
			 url('../fonts/bariol_regular-webfont.ttf') format('truetype');;
	font-weight: normal;
	font-style: normal;
}

*{

	font-family: 'bariol_regular';
}

body{
	background:#fff;
}
.clearfix::before,
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
.wrap{
	width:80%;
	margin:0 auto;
}
.header-top{
	position: fixed;
	z-index: 1;
	width: 100%;
	clear: both;
	background: url(../images/h-bg.jpg) no-repeat;
	background-size: cover;
	background-position:center;
	background-size: 100% 100%;
}
.logo {
	float:left;
	width: 13.5%;
}
.cssmenu {
	margin-top:22px;
	position: relative;
	width: 46.5%;
	float: right;
}

.topUl{
	margin-right:-10px;
}

#nav
{
  position: absolute;
}
#nav > a
{
  display: none;
}
#nav li
{
position: relative;
}
#nav li a
{
color:#fff;
display: block;
}
#nav li a:active
{

}
/* first level */

#nav > ul
{

}
#nav > ul > li
{
margin:0 10px;
height: 100%;
float: left;
}
#nav > ul > li > a
{
height: 100%;
font-size: 1em; /* 24 */
text-align: center;
padding:6px 10px;
}
/* #nav > ul > li:not( :last-child ) > a
{

} */
#nav > ul > li:hover > a,
#nav > ul:not( :hover ) > li.active > a
{
	color:#fff;
	background:#000;
	border-radius:3px;

}
/* second level */
#nav li ul
{
background-color: #cc470d;
display: none;
position: absolute;
top: 100%;
}
#nav li:hover ul
{
display: block;
left: 0;
right: 0;
}
#nav li:not( :first-child ):hover ul
{
	left: -1px;
}
#nav li ul a
{
	font-size: 1.25em; /* 20 */
	border-top: 1px solid #e15a1f;
	padding: 0.75em; /* 15 (20) */
}
	/* #nav li ul li a:hover,
	#nav li ul:not( :hover ) li.active a
	{

	} */

#mainSlider{
  height:100%;
}

.mainSliderPrev, .mainSliderNext {
	position: absolute;
	width:90px;
	height:110px;
	text-indent: -9999px;
	background: url(../images/img-sprite.png) no-repeat;
	top:32%;
	z-index: 2;
	cursor: pointer;
}
.mainSliderPrev {
	background-position:-2px 3px;
	left:30px;
}
.mainSliderNext {
	background-position:-80px 3px;
	right:50px;
}
.header-bottom{
	background-color: #EB504E;
  padding:5% 0 0 0;
  /* height:20%; */
}
.banner-wrap{
	/* background-color: #EB504E; */
  width:33.3333%;
  height:100%;
	/* margin:0 auto; */
	/* text-align:center; */
}
.banner-wrap img{
  text-align:center;
  height: 100%;
  width: 100%;
}
h1.m_1{
	color: #FFF;
	font-size: 4em;
	text-align: center;
	margin-bottom: 1%;
}
p.m_2{
	color:#fff;
	font-size:1.2em;
	text-align:center;
}
/*--content--*/
.content-top{
	background:#232324;
	padding:5% 0 0 0;
  overflow: auto;
}
.box1{
	width:65%;
	margin:0 auto;
}
.span_1_of_3 {
	width: 30.9%;
	text-align:center;
}
.col_1_of_3 {
	display: block;
	float: left;
	margin: 1% 0 1% 3.6%;
}
.col_1_of_3:first-child {
	margin-left: 0;
}
h2.m_3{
	color:#fff;
	font-size:2em;
	text-align:center;
	margin-bottom:1%;
}
p.m_4{
	color:#e74c3c;
	font-size:1em;
	text-align:center;
	margin-bottom: 2%;
}
.desc{
	margin-top:2%;
}
.desc h3{
	color:#fff;
	font-size:1.5em;
	margin-bottom:6%;
}
.desc p{
	color:#E74C3C;
	font-size:0.85em;
	line-height:1.5em;
}
.col_1_of_4:first-child {
	margin-left: 0;
}
.span_1_of_4 {
	width:19.8%;
}
.col_1_of_4 {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
	background: #FFF;
	border-radius: 5px;

	padding: 2%;
	text-align:center;
}
.content-middle{
	background:#6cc372;
	padding:5% 0;
}
p.m_5{
	text-align:center;
	font-size:1em;
	margin-bottom:2%;
}

.m_6 {
    width: 60%;
    margin: 0 auto;
}

.span_foot{
color: white;
}

.blarrow{
  float:left;
  padding-top: 5%;
  }

  .brarrow{
    float:right;
    padding-top: 5%;
  }

.span_1_of_4 h3{
	color:#6cc372;
	font-size:1.5em;
	margin-bottom:5%;
}
.span_1_of_4 h4{
	color:#E74C3C;
	font-size:0.85em;
	margin-bottom:5%;
}
ul.twt{
	background: #6CC372;
	text-align: left;
	padding: 5px;
	border-radius: 3px;
	width:100%;
}
ul.twt li img{
	vertical-align:middle;
	margin-right:12%;
}
span.follow{
	color:#fff;
}


#secondSlider {
	padding-left:8%;
	list-style: none;
	/* width: 100%; */
}

#secondSlider li{
	margin-left: 2.5%;
	margin-right: 2.5%;
	padding-bottom: 4px;
	display: inline-block;
	text-align: center;
}
.larrow{
  float: left;
  padding-top: 5%;
}

.rarrow{
  float: right;
  padding-top: 5%;
}

#secondSlider p{
  padding-top:5%;
	font-weight: bold;
	}

#secondSlider a{
	color: black;
}


.middle-bottom{
	background:#f0f0f0;
	padding:5% 0 20% 0;
	border-bottom: 2px ridge #FFF;
}
h3.m_7{
	color:#555;
	font-size: 2em;
	text-align: center;
	margin-bottom: 1%;
}
p.m_8 {
	text-align: center;
	font-size: 1em;
	margin-bottom: 2%;
	color:#6cc372;
}
#plans,#plans ul,#plans ul li {
	list-style: none;
}
#plans {
	padding-top: 2.4%;
	list-style: none;
}
.plans{
	margin-top: -163px;
	margin-bottom:6%;
}
#pricePlans {
	text-align: center;
}
#pricePlans #plans .plan {
	background: #fff;
  /* overflow: hidden; */
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 0 0 20px 0;
	border:1px solid #DBDADA;
}
.planContainer .title h2 {
	font-size:2.2em;
	color:#E74C3C;
	padding:5% 0;
	border-bottom:2px ridge #fff;
}
.planContainer .title1 h3 {
	font-size:2.2em;
	color: #555;
	padding:7% 0;
	background:#fff;
	border-bottom: 2px ridge #FFF;
}
.planContainer .title h2.bestPlanTitle {
	background:#fff;
	font-size:2.2em;
	padding:7% 0;
	border-bottom: 2px ridge #FFF;
}
.planContainer .options li {
	color:#FE2232;
	line-height:4em;
	border-bottom: 2px ridge #FFF;
	font-size:1em;
	background:#f0f0f0;
}
.planContainer .options li span {
	color:#777;
}
.planContainer .button a.bestPlanButton {
	color: #fff;
	background:#FE2232;
}
.planContainer .button a.bestPlanButton {
	color: #FFF;
	background:#FE2232;
	border: 2px solid #FE2232;
}
.planContainer .button a.bestPlanButton:hover {
	background:#FE2232;
	border:2px solid #FE2232;
}
#pricePlans #plans .plan {
	width:28.9999%;
	margin: 0 3.33% 20px 0;
	}
li.plan-middle{
	width:30.9999%;
	margin: 0 3.33% 20px 0;
	}
#pricePlans #plans > li:last-child {
	margin-right: 0;
}
span.bg1{
	color:#E74C3C;
	font-size:17px;
}
li.button{
	background:#616161;
}
li.button1{
	background:#eb4f4e;
}
span.bg2{
	color:#000;
	font-size:17px;
	margin: 0 20px;
}
.plan1{
	background:#616161;
	padding: 5%;
	overflow:auto;
}
h4.m_8 {
	font-size:3em;
	color:#fff;
	float:left;
}
h4 small{
	font-size:17px;
}
.btn {
	border: none;
	float: right;
	color: #000;
	cursor: pointer;
	padding: 7px 20px;
	display: inline-block;
	font-size: 1.2em;
	outline: none;
	background: #FFF;
	margin-top: 10px;
}
.btn:hover{
	color:#eb4f4e;
}
.plan2{
	background:#eb4f4e;
	overflow: auto;
	padding: 5%;
}
.btn1{
	border: none;
	float: right;
	color:#eb4f4e;
	cursor: pointer;
	padding: 7px 20px;
	display: inline-block;
	font-size: 1.2em;
	outline: none;
	background: #FFF;
	margin-top: 10px;
}
.btn1:hover{
	color:#000;
}
h3.plan-text{
	color:#E74C3C;
	font-size:1em;
	margin-top: 2%;
}
.footer-top{
	background:#eb4f4e;
	padding:4% 0;
	text-align:center;
}
.footer-bottom{
	background:#232324;
	padding:2% 0;
}
.copy {
	float: left;
	margin-top: 10px;
}
.copy p{
	color:#fff;
	font-size:0.8125em;
}

.social {
	float: right;
}
.social li {
	background: none;
	display: inline-block;
}
.social ul li:first-child, ol li:first-child {
	margin-top: 0px;
	margin-left: 0;
}
li.facebook a span {
	height: 30px;
	width: 30px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -21px -141px #EB4F4E;
	border-radius:3px;
	}
li.facebook a span:hover {
	background: url(../images/img-sprite.png) no-repeat -21px -141px #333;
}
li.twitter a span {
	height: 30px;
	width: 30px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -46px -141px #EB4F4E;
	border-radius:3px;
}
li.twitter a span:hover {
	background: url(../images/img-sprite.png) no-repeat -46px -141px #333;
}
li.rss a span {
	height: 30px;
	width: 30px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -77px -139px #EB4F4E;
	border-radius:3px;
}
li.rss a span:hover{
	background: url(../images/img-sprite.png)no-repeat -77px -139px #333;
}

.map{
  position:  relative;
  align-content: center;
}
.contact  {
  position: absolute;
  top: 20%;
  background: black;
  color: white;
  width:40%;
  opacity: 0.5;
  left: 30%;
  height: 40%;

}
.contact-header{
  font-size: 2em;
  padding-left: 35%;
  padding-top: 2%;
}
.contact-text ul li {
  padding-top: 2%;
  padding-left: 35%;
  color: #EB504E;
}

