.container-wrapper {
  width: 80%;
  height: 600px;
  /* padding-bottom: 40%; */
  overflow: hidden;
  position: relative;
  margin: 75px auto ;
}

.mainSlider {
  position: relative;
  height: 100%;
  width:200%;
}

 .banner-wrap {
  float: left;
  display: block;
  background-color: #EB504E;
	width:50%;
	margin:0 auto;
	text-align:center;
}


.container-wrapper .left-arrow {
  position: absolute;
  left: 0;
  top: 40%;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.container-wrapper .right-arrow {
  position: absolute;
  right: 0;
  top: 40%;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.dot-container {
  position: absolute;
  bottom: 5%;
  left: 45%;
}

.dot-container>span {
  margin: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  opacity: .5;
  background-color: white;
  cursor: pointer;
}

.dot-container>span.active-button {
  background-color: black;
  opacity: .8;
}


 
@media only screen and (min-width:480px){
  .container-wrapper{
    width:80%;
    /* padding-bottom:40%; */
  }
  .dot-container{
    display: block;
  }

}

/
@media only screen and (min-width:768px){
  .container-wrapper{
    width:80%;
    /* padding-bottom:40%; */
  }
} 